@keyframes border {
    0%{
        border: rgba(255, 255, 255, 0.5)
    }
}

body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: url(https://i.gifer.com/7ccZ.gif);
    background-size: cover;
    background-attachment: fixed;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow: hidden;
}
html{
    width: 100vw;
    height: 100%;
}

header{
    display: flex;
    align-items: center;
    width:w 100%; 
    height:100px;
    /* background: rgba(0, 0, 0, 0.8); */
    background: linear-gradient(to right,#000,#111);
    background-size: 100% 100%;
    opacity: 100%;
    overflow: hidden;
}

.indicator{
    border-bottom: 2px solid rgb(220, 150, 1);
}

.navegacao li:hover{
    margin: 10px;
     border-bottom: 2px solid rgb(220, 59, 1);
     width: 90px;
     transition: 1s;
 }
header .logo{
    width: 60%;
}
.logo img{
    width: 250px;
    height: 200px;
    

  
}
header .navegacao{
    width: 40%;
}

.navegacao li{
    display: inline-block;
    padding-left: 30px;
}

.navegacao a{
    text-decoration: none;
    color: white;
    font-size: 13pt;
}


.wrapper{
    height: 100vh;
    overflow-x: hidden;
    perspective: 2px; /*---proporção do eixo z---*/
    transform-style: preserve-3d; /*---Manter os elementos filhos em 3d com espaço indicado---*/
}

.secao{
    width: 100vw;
    position: relative;/*---Posição baseada pelo elemento pai---*/
    height: 100vh;
    min-height: 700px; /* ---Altura minima de ajuste---*/
    transform-style: inherit; /*---Herança do elemento pai---*/
}

.secao::before{
    content: " "; /*o conteudo permanecerá */
    position: absolute; /*----permanece com a mesma posiçao do elemento pai*/
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -10; /*Profundidade do eixo z para trás*/
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center center; /*Eixo x e y no centro*/
    transform: translatez(-1px) scale(1.5); /*--- Escala um pouco mais aproximada e eixos x e y -1px para trás*/

}

section#seila{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height:1000px;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    color: #fff;
    text-align: center;
    font-size: 20pt;
    position: absolute;
    top: 125vh;
    transform: translateZ(-50%);
    text-shadow: 2px 2px 20px #888;
}

#seila .modelo{
    background-color: rgb(221, 156, 5);
    padding: 10px;
}
.conteudo{
    position: absolute;
    top: 25%;
    left: 70%;
    width: 40%;
    padding: 50px;
    background-color: rgba(111, 112, 114, 0.8);
    color: #fff;
    text-align: justify;
    transform: translate(-50%);
    font-size: 20px;
    box-shadow: 15px 11px 17px #888;
    border-radius: 30px;
    opacity: 70%;
}

.conteudo:hover{
    opacity: 90%;
    scale: 1.02;
    transition: .7s;
}

.aviso{
    color: #fff;
}

.secao h3{
    margin-top: -10px;
    padding-top: 100px;
    color: #fff;
    text-align: center;
    font-size: 20pt;
    text-shadow: 3px 3px 20px #888, -3px -3px 20px #444;}

.conteudo2{
    position: absolute;
    top: 25%;
    left: 30%;
}

.fundo1{
    margin-bottom: 1400px;
    position: relative;
   /* left: -1%; */
}

.fundo2{
    height: 170vh;
    margin: -20px;
}

.fundo1::before{
    background-image: url(https://live.staticflickr.com/2485/4112384984_186b462819_b.jpg);
}

.fundo2::before{
    background-image: url(https://assets.turbologo.com/blog/pt/2019/11/19133605/Mercedes-Benz-logo-cover.jpg);
}


/*Estilo do Rodapé*/

#rodape{
    text-align: center;
    align-items: center;
    color: #000;
}



.flex-footer{
    align-items: center;
    background:linear-gradient(to top,rgba(96, 96, 96, 0.2),#000) ;
    display:inline-block;
    align-items: center;
    position: relative;
    margin-top: 100px;
    top: 24vh;
    bottom: 0;
    left: 0;
    padding-top: 30px;
    width: 100%;
    height:300px;
    margin-bottom: 100px;
  
    
}
.flex-footer p{
    padding-bottom: 10px;
    color: rgb(221, 181, 5);
    font-size: 16pt;
    text-shadow: 25px 20px 4px #000,1px 1px 2px #000;
      

}


.links{
    display: inline-block;
    width: 100px;
    height: 50px;
    border-radius: 30px;
    transition: 1s;
    background: linear-gradient(#000,#888);
    box-shadow: 20px 20px 10px #000000;
}

#rodape ul{
    position: relative;
    top: -10px;
}

.facebook{
    justify-content: center;
    position: relative;
    left: -15px;
    top: 10px;
    width: 50px;
    height: 50px;

}

.instagram{
    position: relative;
    top: -10px;
    left:15px;
    background-color: #ffffff;
}

.links:hover{
    scale: 1.1;
}

.facebook i{
    color: #fff;
}

.instagram i{
    color: #fff;
}

.instagram i:hover{
    rotate: 1turn;
}

.facebook i:hover{
    rotate: 1turn;
}
